In [1]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [2]:
df['Year Patron Registered'].value_counts(normalize=True)

2019    0.129112
2022    0.119824
2003    0.098150
2020    0.075493
2021    0.074507
2017    0.069590
2018    0.069231
2016    0.051591
2015    0.048282
2014    0.038955
2013    0.032589
2012    0.031818
2011    0.030392
2009    0.027677
2010    0.027187
2008    0.024616
2007    0.015785
2006    0.012763
2005    0.011596
2004    0.010839
Name: Year Patron Registered, dtype: float64

In [3]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.212729
35 to 44 years       0.184501
10 to 19 years       0.154337
45 to 54 years       0.111768
0 to 9 years         0.079420
65 to 74 years       0.073147
20 to 24 years       0.056132
55 to 59 years       0.044203
75 years and over    0.043266
60 to 64 years       0.040496
Name: Age Range, dtype: float64

In [4]:
df['Age Range'].isna().sum()

927

In [5]:
age_range_mode = df['Age Range'].mode()[0]
df['Age Range'].fillna(age_range_mode, inplace=True)

In [6]:
df['Age Range'].isna().sum()

0

In [7]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.214399
35 to 44 years       0.184109
10 to 19 years       0.154010
45 to 54 years       0.111531
0 to 9 years         0.079251
65 to 74 years       0.072992
20 to 24 years       0.056013
55 to 59 years       0.044110
75 years and over    0.043174
60 to 64 years       0.040410
Name: Age Range, dtype: float64

In [8]:
df['Total Renewals'].agg(lambda x: x.std()/x.mean())

3.9185830657498233

In [9]:
df['Total Renewals'].std()/df['Total Renewals'].mean()

3.9185830657498233